:root{
    --animation-speed: 1s;
}
/*
h1{
    position: relative;
    font-family: "Source Code Pro", monospace;
    color: white;
    width: max-content;
    
}

h1::before,
h1::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    
}

h1::before{
    background:#323437;
    animation: typewriter var(--animation-speed) steps(24)  ;
    
}

h1::after{
    width: .125em;
    background: white;
    animation: 
    typewriter var(--animation-speed) steps(24)  ,
    blink 1s steps(24) forwards ;
}

*/
.forsvg{
    position: relative;
    top: 10%;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}



.inpPI{
    position: absolute;
    background: transparent;
    width: 100%;
    resize: horizontal;
    height: 300px;
    z-index: 99;
    color: orange;
    border: none;
    font-size: xx-large;
    letter-spacing: 7px;
    caret-color: orange;
}

.inpPI:active{
    width: auto;
}

.inpPI:focus{
    outline: none;
    min-width: 200px;
}

.lovelypi{
    display: flex;
}

.three{
    position: relative;
    color: orange;
    left: -35px;
    text-align: center;
}


@keyframes typewriter{
    to{ left: 100%;}
   
    
    
}

@keyframes blink{
    to{
        background: transparent;

    }
    100%{
        display: none;
    }
    
    
}