:root{
    --animation-speed: 1s;
}

.forsvg{
    position: relative;
    top: 10%;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
.foreulersvg{
    position: relative;
    top: 10%;
    display: flex;
    justify-content: center;
    margin-bottom: 90px;

}

.inpGOLD,.displaySpans,.inpPI{
    position: absolute;
    background: transparent;
    width: 100%;
    resize: horizontal;
    height: 300px;
    color: transparent;
    border: none;
    font-size: xx-large;
    letter-spacing: 7px;
    caret-color: #ffea00;
    resize: none;
}

.inpGOLD:active,
.inpPI:active{
    width: auto;
}

.inpGOLD:focus,
.inpPI:focus{
    outline: none;
    min-width: 200px;
}

.lovely{
    display: flex;
}

.three{
    position: relative;
    color: #ffea00;
    left: -35px;
    text-align: center;
}

.displaySpans{
    font-size: xx-large;
    width: 100%;
    display: block;
}

span{
    float: left;
}

.score,.max-score{
    position: relative;
    margin-bottom: 10px;
    color: #ffea00;
    width: 100%;
    text-align: center;
    font-size: large;
    letter-spacing: 3px;
    
}

.again{
    position: relative;
    color: #ffea00;
    width: 100%;
    text-align: center;
    color: white;
    visibility: hidden;
}



.nav{
    position: absolute;
    width: 100%;
    height: 100px;
    z-index: 99;
}

.nav .home{
    position: absolute;
    left: 5%;
    top: 25%;
}

img{
    position: absolute;
    width: 80px;
    height: 80px;
    right: 0;
}
