body{
  background-color: #323437;
}

.App{
  position: absolute;
  width: 80%;
  height: 100%;
  left: 10%;
}


.all{
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
}

.roof{
  position: relative;
  color: white;
  width: max-content;
  height: 20%;
  width: 100%;
  display: flex;
  font-size: 50px;
  justify-content: center;
  align-items:flex-end;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  letter-spacing: 5px;
}

h3{
  color: #f0f0f0;
  font-style: italic;
  
}

.decision{
  position: relative;
  height: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pi, .gold, .euler{
  text-align: center;
  
}

.memorizePI, .memorizegold, .memorizeEuler{
  margin: 10px 10px;
}

