body{
  background-color: #323437;
}

.App{
  position: absolute;
  width: 80%;
  height: 100%;
  left: 10%;
}

.decision{
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;

  
}

.pi{
  text-align: center;
  
}

.gold{
  text-align: center;
}

.memorizePI, .memorizegold{
  margin: 10px 10px;
}